@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Signika";
}
body {
    background: #ffffff;
}
/* .loginuk {
  display: flex;
  position: relative;
} */
.container {
    display: flex;
    /* align-items: center; */
    justify-content: right;
    min-height: 100vh;
}
.background h2 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 9%;
    margin-left: 4.2%;
    /* padding-top: 80%; */
    /* border: 5px solid; */
}
.background p {
    color: #438a5e;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    opacity: 50%;
    line-height: normal;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 5%;
    margin-left: 8%;
    /* padding-top: 109%; */
    /* border: 5px solid; */
}
/* Logo */
.background img.logo {
    width: 13rem; /* Sesuaikan lebar gambar sesuai kebutuhan */
    height: 4rem; /* Otomatis mengatur tinggi agar gambar tidak terdistorsi */
    margin-top: 0; /* Menghilangkan margin atas */
    float: left; /* Menempatkan gambar di sebelah kiri */
    padding-top: 12px;
    padding-left: 22px;
}
/* gambar left */
.background img.hero {
    width: 34rem; /* Sesuaikan lebar gambar sesuai kebutuhan */
    height: 28rem; /* Otomatis mengatur tinggi agar gambar tidak terdistorsi */
    margin-top: 0; /* Menghilangkan margin atas */
    float: left; /* Menempatkan gambar di sebelah kiri */
    align-content: space-between;
    padding-top: 120px;
    padding-left: 1px;
    padding-right: 230px;
    align-items: center;
}
.box {
    background: #4ad57f;
    display: flex;
    flex-direction: column;
    padding: 25px 25px 0px 25px;
    justify-content: center;
    /* border-radius: 20px; */
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
/* Background kanan */
.form-box {
    width: 80%;
    margin: 0px;
}
.form-box header {
    font-size: 25px;
    font-family: "Signika";
    font-weight: 600;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 25px;
}
.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    padding-top: 5px;
    font-family: "Roboto";
    /* padding-left: 75px; */
}
.form-box form .input input {
    height: 40px;
    width: 100%;
    margin: auto;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
/* tombol login */
.btn {
    height: 45px;
    width: 300px;
    margin: 10px auto;
    background: #436f8a;
    font-weight: bold;
    border: 0;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s;
    margin-top: 10px;
    padding: 0px 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.btn:hover {
    opacity: 0.82;
}
.submit {
    width: 100%;
}
.links {
    margin-bottom: 15px;
    text-align: center;
    padding-top: 15px;
}
/* .register:visited {
  color: #4ad57f;
} */
@media only screen and (max-width: 840px) {
    .main-box .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top .box {
        margin: 10px;
    }

    .box {
        padding: 15px;
    }

    .loginuk {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: column-reverse;
    }

    /* .background img.logo,
  .background img.hero {
    max-width: 100%;
    height: auto;
  }
  .background img.hero {
    padding-left: 100px;
    width: 100%;
  } */

    .form-box form .field {
        padding-top: 10px;
    }

    .form-box form .input input {
        height: 35px;
        font-size: 14px;
    }

    .btn {
        width: 100%;
        height: 45px;
    }

    .background h2,
    .background p {
        position: absolute;
        width: 80%;
        padding-top: 98rem;
    }

    .background h2 {
        font-size: 24px;
        top: 0%;
        padding-left: 50px;
    }

    .background p {
        font-size: 16px;
        margin-bottom: 3%;
        top: 6%;
        padding-left: 10px;
    }
    .form-box {
        width: 100%;
        margin: 0px;
    }
}

@media screen and (max-width: 420px) {
    .background img.logo,
    .background img.hero {
        max-width: 500px;
        height: auto;
        position: absolute;
    }
    .background img.hero {
        padding-left: 80px;
        width: 550px;
    }
    .background p {
        font-size: 16px;
        margin-bottom: 3%;
        top: 15%;
        padding-left: 10px;
        /* padding-top: 25px; */
    }
    .background h2,
    .background p {
        position: absolute;
        width: 80%;
        padding-top: 70rem;
    }
    .form-box {
        width: 100%;
        margin: 0px;
    }
}
/*** Home *******/
.btn3 a {
    color: #fff;
}
.btn3 {
    background-color: #bf3131; /* Warna hijau (success) */
    color: #fff; /* Warna teks putih */
    border-radius: 10px; /* Border radius 10px untuk sudut yang melengkung */
    padding: 10px 20px; /* Padding untuk memberikan ruang di dalam tombol */
    border: none; /* Menghilangkan border */
    cursor: pointer; /* Menampilkan cursor tangan saat diarahkan ke tombol */
}

/* Style tambahan jika tombol dihover */
.btn3:hover {
    background-color: #822121; /* Warna hijau yang lebih gelap saat tombol dihover */
}
.nav {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo {
    font-size: 25px;
    font-weight: 900;
}
.logo a {
    text-decoration: none;
    color: #000;
}
.right-links a {
    padding: 0 10px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom {
    width: 100%;
    margin-top: 20px;
}
@media only screen and (max-width: 840px) {
    .main-box .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box {
        margin: 10px 10px;
    }
    .bottom {
        margin-top: 0;
    }
}
.message {
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border: 1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}
