main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap as needed */
    margin-left: 60px;
    margin-bottom: 0px;
}
.posisi,
.card-body {
    width: 100%;
}
.cardii {
    width: 365px;
    height: 202px;
    background-color: white;
    margin: 10px 25px 20px 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 60px;
    border: 0.1px solid #000;
    width: calc(130.33% - 15px);
}

.col-md-3 {
    margin-right: 10px;
}

.image p {
    width: 100px;
    height: 100px;
    margin: 20px 0 20px 20px;
    color: red;
}

.text p {
    font-size: 16px;
    color: black;
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: left;
}
.text h2 {
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-top: -90px;
    margin-left: 20px;
    text-align: left;
}
.text h4 {
    font-size: 18px;
    color: black;
    margin-top: -30px;
    margin-left: 20px;
    text-align: left;
}
.vidio {
    background-color: #ffffff;
    margin-top: 10px;
    width: 100%x; /* Sesuaikan lebar sesuai kebutuhan Anda */
    margin-bottom: 20px;
}
/* Button */
.mandiri,
.penelitian,
.posting {
    width: 350px;
    height: 220px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: underline;
}
.mandiri {
    background-color: #007bff;
}

.penelitian {
    background-color: #bac964;
}

.posting {
    background-color: #438a5e;
}
.carosel {
    background-color: transparent;
    border-radius: 20px;
}
.inti {
    background-color: #91c8e4;
}
.posisi {
    background-color: #ffffff;
    width: 100%x; /* Sesuaikan lebar sesuai kebutuhan Anda */
    margin-bottom: 20px;
}
.posisi h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.download-button {
    background-color: transparent;
    border: none;
    color: #007bff; /* Warna biru, sesuaikan dengan warna yang Anda inginkan */
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    padding: 0; /* Menghilangkan padding bawaan */
}
section {
    box-sizing: border-box;
    margin-bottom: 15px;
}
.back {
    position: flex;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    bottom: 10px; /* Jarak dari bawah halaman */
    left: 10px; /* Jarak dari kiri halaman */
    z-index: 999; /* Untuk memastikan elemen berada di atas konten lain */
}

.back button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.back .btn1 img {
    width: 40px; /* Sesuaikan dengan ukuran gambar yang diinginkan */
}

.back:hover {
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 150px;
}
h1 {
    font-size: 24px;
    margin-left: 200px;
    margin-bottom: 30px;
    font-weight: 600;
}
.btn1 {
    background-color: #ccc; /* Warna abu-abu */
    color: #000000;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

.buttonInput {
    margin-left: 640px;
}
.button {
    margin-left: 680px;
    margin-bottom: 230px;
}
@media (max-width: 768px) {
    section {
        width: 100%;
    }
}
.tim-row {
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.pagination {
    margin-left: 40px;
}

.typography-line {
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}

.typography-line span {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}

.file {
    margin-top: 5px; /* Jarak antara label dan input file */
}

.tim-row {
    padding-top: 60px;
}

.tim-row h3 {
    margin-top: 0;
}

.offline-doc .page-header {
    display: flex;
    align-items: center;
}

.offline-doc .footer {
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    color: #fff;
    z-index: 1;
}

@media all and (min-width: 992px) {
    .sidebar .nav > li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

@media all and (max-width: 502px) {
    .sidebar .nav > li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

.card.card-upgrade .card-category {
    max-width: 530px;
    margin: 0 auto;
}

/* Nucleo Style */

.demo-iconshtml {
    font-size: 62.5%;
}

.demo-icons body {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #333333;
    background: white;
}

.demo-icons a {
    color: #608cee;
    text-decoration: none;
}

.demo-icons header {
    text-align: center;
    padding: 100px 0 0;
}

.demo-icons header h1 {
    font-size: 2.8rem;
}

.demo-icons header p {
    font-size: 1.4rem;
    margin-top: 1em;
}

.demo-icons header a:hover {
    text-decoration: underline;
}

.demo-icons .nc-icon {
    font-size: 34px;
}

.demo-icons section h2 {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 1em 0.2em;
    margin-bottom: 1rem;
}
.sidebar-wrapper {
    background-color: #4ad57f;
}
.btn2 {
    background-color: #28a745; /* Warna hijau */
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}
.wrapper,
.sidebar,
.logo,
.simple-text,
.logo-medium {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

.sidebar li {
    background-color: #436f8a;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    right: 0;
    margin-left: 20px;
    transition: background-color 0.3s, color 0.3s; /* Efek transisi untuk animasi */
}

.sidebar li.active {
    background-color: #ffff; /* Ganti dengan warna latar belakang yang diinginkan */
    color: #436f8a; /* Ganti dengan warna teks yang diinginkan */
}
.sidebar li.active p {
    color: #436f8a;
}
.nav p {
    font-weight: 600;
    color: white;
}

.sidebar li.active i {
    color: #436f8a;
}

.demo-icons ul {
    padding-left: 0;
}

.demo-icons ul::after {
    clear: both;
    content: "";
    display: table;
}

.demo-icons ul li {
    width: 20%;
    float: left;
    padding: 16px 0;
    text-align: center;
    border-radius: 0.25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.demo-icons ul li:hover {
    background: #f4f4f4;
}

.hero {
    display: flex;
    /* Adjust any other styles for the wrapper as needed */
}

.hero.hero-image-medium {
    overflow: hidden; /* Prevent scrolling for the sidebar */
    /* Add any other styles for the sidebar-wrapper as needed */
}

.hero img {
    margin-top: 25px;
    max-width: 200px;
    overflow: hidden; /* Make sure the image doesn't exceed its container */
    height: 200px;
    bottom: 0;
    margin-left: 25px;
}
.demo-icons ul p,
.demo-icons ul em,
.demo-icons ul input {
    display: inline-block;
    font-size: 1rem;
    color: #999999;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.demo-icons ul p {
    padding: 20px 0 0;
    font-size: 12px;
    margin: 0;
}
.btn3 {
    background-color: #3da355; /* Warna hijau */
    color: #fff;
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
}
.btn5 {
    background-color: transparent;
    color: #000000;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
}
.btn6 {
    background-color: transparent;
    color: #000000;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
}
.btn7 {
    background-color: transparent;
    color: #000000;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 180px;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
}
.demo-icons ul p::selection,
.demo-icons ul em::selection {
    background: #608cee;
    color: #efefef;
}
.navbar-brand img {
    width: 190px;
    height: 60px;
}
.demo-icons ul em {
    font-size: 12px;
}

.demo-icons ul em::before {
    content: "[";
}

.demo-icons ul em::after {
    content: "]";
}

.demo-icons ul input {
    text-align: center;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    display: none;
}
